* {
    box-sizing: border-box;
}

body {
    background-image: url('SportsBG.jpg');
    background-size:100%;
    background-attachment: fixed;
}

#Main_Layout {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;

    display:contents;
}

#Main_Header {
    position:fixed;
    width:100%;
    height:128px;
    top:0;
    left:0;

    background-color:#792845;
    color:white;
    font-size:35px;
}

#Main_Logo {
    position: fixed;
    width:96px;
    height:96px;
    margin:16px;
}

#Main_CategoryButton {
    position: fixed;
    width:32px;
    height:32px;
    top:64px;
    right:32px;
    margin:16px;

    border:none;
}

#Main_CategoryButtonIcon {
    width:100%;
    height:66%;
}

#Main_AsideCategory {
    position:fixed;
    width:256px;
    height:100%;
    right:0;

    background-color:#d883a1;
    color:white;

    display:none;
}

.Main_CategoryListButton {
    width:256px;
    height:64px;
    background-color:#c34773;
}

#Main_Footer {
    position:fixed;
    width:100%;
    height:32px;
    bottom:0;
    left:0;

    background-color:#e5b5c6;
    color:white;
}

#Content_Layout {
    background-color:white;
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
    width:1128px;
    display:table;
    
    border-color:#792845;
    border-style:solid;
}

#Content_Article {
    position:relative;
    width:832px;
    float:left;
    padding:4px;
}

#Content_Article_Content {
    border-color:#792845;
    border-style:dashed;
    padding:16px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

#Content_AsideAds {
    position: -webkit-sticky;
    position:sticky;
    top:0;
    width:280px;
    float:right;
}

.Content_AsideAds_Ad {
    width:248px;
    margin:16px;
}