/*#region Global*/

    * {
        box-sizing: border-box;
    }

    #Global_Background {
        background-image: url('SportsBG.jpg');
        background-size: 1920px 1080px;
        background-repeat: no-repeat;
        position:fixed;
        width: 1920px;
        height: 1080px;
        display:inline;
        background-position: 50% 50%;
    }

    .overflow {
        height: 200px;
        display: flex;
    }

/*#endregion*/

/*#region Main*/

    #Main_Layout {
        position:fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;

        display:contents;
    }

    #Main_Header {
        position:fixed;
        width:100%;
        height:128px;
        top:0;
        left:0;

        background-color:#792845;
        color:white;
        font-size:35px;
    }

    #Main_Logo {
        position: fixed;
        width:96px;
        height:96px;
        margin:16px;
    }

    #Main_HGreetings {
        position: fixed;
        width:192px;
        height:48px;
        top:80px;
        right:80px;
        margin:0;
        color:white;
        font-size:20px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }

    #Main_LogButton {
        position: fixed;
        top:80px;
        right:80px;
        margin:0;
    }

    #Main_RegButton {
        position: fixed;
        top:104px;
        right:80px;
        margin:0;
    }

    #Main_CategoryButton {
        position: fixed;
        width:32px;
        height:32px;
        top:80px;
        right:16px;
        margin:0;

        border:none;
    }

    #Main_CategoryButtonIcon {
        width:100%;
        height:66%;
    }

    #Main_AsideCategory {
        position:fixed;
        width:256px;
        height:100%;
        right:0;

        background-color:#d883a1;
        color:white;

        display:none;
    }

    .Main_CategoryListButton {
        width:256px;
        height:64px;
        background-color:#c34773;
    }

    #Main_Footer {
        position:fixed;
        width:100%;
        height:32px;
        bottom:0;
        left:0;

        background-color:#e5b5c6;
        color:white;
    }

/*#endregion*/

/*#region Content*/

    #Content_Layout {
        position:absolute;
        top:132px;
        left:50%;
        transform:translate(-50%,0);
        width:1120px;
        display:inline;
    }

    #Content_Layout_Border {
        background-color:white;

        display: none;
        grid-template-columns:auto 1fr;
        
        border-color:#792845;
        border-style:solid;

        margin-bottom:36px;
    }

    /*#region Register*/

        #Form_Register {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            margin:auto;
            vertical-align:middle;

            border-style:solid;
            border-color:blue;
            background-color: white;
            display:none;
            grid-template-columns:auto auto;
            padding:32px;
        }

        #Form_Register label {
            margin:4px;
        }
        #Form_Register input {
            margin:4px;
            margin-left:8px;
        }
        #Form_Register a {
            margin:4px;
        }
        #Form_Register button {
            margin:0;
            margin-top:auto;
            margin-bottom:auto;
        }

    /*#endregion*/

    /*#region Login*/

        #Form_Login {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            margin:auto;
            vertical-align:middle;

            border-style:solid;
            border-color:blue;
            background-color: white;
            display:none;
            grid-template-columns:auto auto;
            padding:32px;
        }

        #Form_Login label {
            margin:4px;
        }
        #Form_Login input {
            margin:4px;
            margin-left:8px;
        }
        #Form_Login a {
            margin:4px;
        }
        #Form_Login button {
            margin:0;
            margin-top:auto;
            margin-bottom:auto;
        }

/*#endregion*/

    /*#region Forgot*/

        #Form_Forgot {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            margin:auto;
            vertical-align:middle;

            border-style:solid;
            border-color:blue;
            background-color: white;
            display:none;
            grid-template-columns:auto auto;
            padding:32px;
        }

        #Form_Forgot label {
            margin:4px;
        }
        #Form_Forgot input {
            margin:4px;
            margin-left:8px;
        }
        #Form_Forgot button {
            margin:0;
            margin-top:auto;
            margin-bottom:auto;
        }

    /*#endregion*/

    /*#region Home*/

        #Form_Home {

            position:absolute;
            top:132px;
            left:50%;
            transform:translate(-50%,0);

            background-color:white;
            width:1120px;
            min-height:calc(100% - 168px);

            display: none;
        
            border-color:blue;
            border-style:solid;

            margin-bottom:36px;

            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
        }

        #Form_Home h1 {

            font-size: 50px;
            background-color: white;

        }

        #Form_Home_3C {

            width: 100%;
            height: 500px;
            display: grid;
            grid-template-columns:auto auto auto;
            position: absolute;
            bottom: 0;

        }
        
        #Form_Home_Column1 {

            font-size: 50px;
            background-color: purple;
            background-image: url("hsportbg.jpg");
            background-size: cover;
            overflow: hidden;

        }

        #Form_Home_Column1I {

            width: 100%;
            height: 100%;

            background-image: linear-gradient(rgb(104, 18, 68) 0%,rgba(104, 18, 68, 0.123) 80%)

        }

        #Form_Home_Column2 {

            font-size: 50px;
            background-color: greenyellow;
            background-image: url("hfoodbg.jpg");

        }

        #Form_Home_Column2I {

            width: 100%;
            height: 100%;

            background-image: linear-gradient(rgb(3, 92, 22) 0%,rgba(104, 18, 68, 0.123) 80%)

        }
                
        #Form_Home_Column3 {
            
            font-size: 50px;
            background-color: red;
            background-image: url("hpoliticbg.jpg");

        }

        #Form_Home_Column3I {

            width: 100%;
            height: 100%;

            background-image: linear-gradient(rgb(146, 7, 7) 0%,rgba(104, 18, 68, 0.123) 80%)

        }



    /*#endregion*/
    
    /*#region Privacy*/
        
        #Form_Privacy {

            position:absolute;
            top:132px;
            left:50%;
            transform:translate(-50%,0);

            background-color:white;
            width:1120px;
            min-height:calc(100% - 168px);

            display: none;
        
            border-color:blue;
            border-style:solid;

            margin-bottom:36px;

            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
        }

    /*#endregion*/

    /*#region Article Page*/

        #Content_Article {
            position:relative;
            width:832px;
            right:0;

            padding:4px;
        }

        #Content_Article_Content {
            border-color:#792845;
            border-style:dashed;
            padding:16px;
        }

        #Content_Aside {
            position:relative;
            width:280px;
            height:100%;
            left:0;

            padding:4px;
        }

        #Content_Suggestions {
            border-color:#792845;
            border-style:dashed;
            padding:8px;
        }

        .Content_Suggestions_Item {

        }

        .Content_Suggestions_Title {
            line-height: 24px;
        }

        .Content_Suggestions_Info {
            display:flex
        }

        .Content_Suggestions_Image {
            width:96px; 
            height:64px;
            margin-right: 4px;
        }

        .Content_Suggestions_Description {
            width:156px; 
            height:56px;

            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            overflow:hidden;
            text-overflow:ellipsis;
        }

        #Content_Ads {
            position: -webkit-sticky;
            position:sticky;

            width:280px;
            float:right;
            top:128px;
        }

        .Content_Ads_Ad {
            width:248px;
            margin:16px;
        }

/*#endregion*/

/*#endregion*/