* {
    box-sizing: border-box;
}

body {
    background-image: url('SportsBG.jpg');
    background-size:100%;
    background-attachment: fixed;
}

.overflow {
    height: 200px;
    display: flex;
}

#Main_Layout {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;

    display:contents;
}

#Main_Header {
    position:fixed;
    width:100%;
    height:128px;
    top:0;
    left:0;

    background-color:#792845;
    color:white;
    font-size:35px;
}

#Main_Logo {
    position: fixed;
    width:96px;
    height:96px;
    margin:16px;
}

#Main_CategoryButton {
    position: fixed;
    width:32px;
    height:32px;
    top:64px;
    right:32px;
    margin:16px;

    border:none;
}

#Main_CategoryButtonIcon {
    width:100%;
    height:66%;
}

#Main_AsideCategory {
    position:fixed;
    width:256px;
    height:100%;
    right:0;

    background-color:#d883a1;
    color:white;

    display:none;
}

.Main_CategoryListButton {
    width:256px;
    height:64px;
    background-color:#c34773;
}

#Main_Footer {
    position:fixed;
    width:100%;
    height:32px;
    bottom:0;
    left:0;

    background-color:#e5b5c6;
    color:white;
}

#Content_Layout {
    position:absolute;
    top:132px;
    left:50%;
    transform:translate(-50%,0);
    width:1120px;

    display: grid;
    grid-template-columns:auto 1fr;
}

#Content_Layout_Border {
    background-color:white;

    display: grid;
    grid-template-columns:auto 1fr;
    
    border-color:#792845;
    border-style:solid;

    margin-bottom:36px;
}

#Content_Article {
    position:relative;
    width:832px;
    right:0;

    padding:4px;
}

#Content_Article_Content {
    border-color:#792845;
    border-style:dashed;
    padding:16px;
}

#Content_Aside {
    position:relative;
    width:280px;
    height:100%;
    left:0;

    padding:4px;
}

#Content_Suggestions {
    border-color:#792845;
    border-style:dashed;
    padding:8px;
}

.Content_Suggestions_Item {

}

.Content_Suggestions_Title {
    line-height: 24px;
}

.Content_Suggestions_Info {
    display:flex
}

.Content_Suggestions_Image {
    width:96px; 
    height:64px;
    margin-right: 4px;
}

.Content_Suggestions_Description {
    width:156px; 
    height:56px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow:hidden;
    text-overflow:ellipsis;
}

#Content_Ads {
    position: -webkit-sticky;
    position:sticky;

    width:280px;
    float:right;
    top:128px;
}

.Content_Ads_Ad {
    width:248px;
    margin:16px;
}