<html>

    <head>
        <title>The Layout Example</title>
        <link rel="stylesheet" href="style.css">
        <link rel="html" >

    </head>

    <body>

        <header>
            <h1>The Fisher Valley News Network</h1>
        </header>

        <nav>
            <a href="#">Home</a>
            <a href="#">News</a>
        </nav>
        
        <section>
        <article>
            <!--<iframe src="content.html" id="iFrame1" class="Content" frameborder="0" scrolling="no"></iframe>-->
            <div class="Content">
                <div>
                    <img src="image1.jpg" style="object-fit: contain; max-width: 100%;">
                </div>
                <h1>Lorem Ipsum</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Non curabitur gravida arcu ac tortor dignissim convallis. <br>
                    Sed viverra ipsum nunc aliquet. <br>
                    Feugiat pretium nibh ipsum consequat nisl vel pretium lectus quam.
                </p>
                <p>
                    Mauris nunc congue nisi vitae suscipit tellus. <br>
                    Ultricies leo integer malesuada nunc. <br>
                    Nullam vehicula ipsum a arcu cursus. <br>
                    Dui ut ornare lectus sit amet est placerat in. <br>
                    Aliquet eget sit amet tellus cras adipiscing enim eu. <br>
                    Congue nisi vitae suscipit tellus mauris.
                </p>
                <h1>Lorem Ipsum</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Non curabitur gravida arcu ac tortor dignissim convallis. <br>
                    Sed viverra ipsum nunc aliquet. <br>
                    Feugiat pretium nibh ipsum consequat nisl vel pretium lectus quam.
                </p>
                <p>
                    Mauris nunc congue nisi vitae suscipit tellus. <br>
                    Ultricies leo integer malesuada nunc. <br>
                    Nullam vehicula ipsum a arcu cursus. <br>
                    Dui ut ornare lectus sit amet est placerat in. <br>
                    Aliquet eget sit amet tellus cras adipiscing enim eu. <br>
                    Congue nisi vitae suscipit tellus mauris.
                </p>
                <h1>Lorem Ipsum</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                    Non curabitur gravida arcu ac tortor dignissim convallis. <br>
                    Sed viverra ipsum nunc aliquet. <br>
                    Feugiat pretium nibh ipsum consequat nisl vel pretium lectus quam.
                </p>
                <p>
                    Mauris nunc congue nisi vitae suscipit tellus. <br>
                    Ultricies leo integer malesuada nunc. <br>
                    Nullam vehicula ipsum a arcu cursus. <br>
                    Dui ut ornare lectus sit amet est placerat in. <br>
                    Aliquet eget sit amet tellus cras adipiscing enim eu. <br>
                    Congue nisi vitae suscipit tellus mauris.
                </p>
            </div>
        </article>

        <aside>
            <h1>Lorem Ipsum</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                Non curabitur gravida arcu ac tortor dignissim convallis. <br>
                Sed viverra ipsum nunc aliquet. <br>
                Feugiat pretium nibh ipsum consequat nisl vel pretium lectus quam.
            </p>
        </aside>
        </section>

        <footer>
            <a href="#">Privacy Policy</a>
            <span> - </span>
            <a href="#">Terms of Service</a>
            <span> - </span>
            <a href="#">Support</a>
        </footer>

    </body>

</html>