<html>

    <head>
        <title>The Layout Example</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>

        <header id="WebsiteHeader" class="WebsiteHeaderClass">
            <h1>The Fisher Valley News Network</h1>
        </header>

        <iframe src="content.html" class="Content"></iframe>

        <footer id="WebsiteFooter" class="WebsiteFooterClass">
            <a href="#">Privacy Policy</a>
            <span> - </span>
            <a href="#">Terms of Service</a>
            <span> - </span>
            <a href="#">Support</a>
        </footer>

    </body>

</html>