/* This is for creating Layout */
* {
    box-sizing: border-box;
    margin: auto;
}
  
body {
    background-image: url("image2.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    font-family: Arial, Helvetica, sans-serif;
}
  
/* Style the header */
header {
    position: fixed;
    height: 64px;
    width: 100%;

    background-color:#57659E;
    font-size: 24px;
    color: white;
}
  
/* Create two columns/boxes that floats next to each other */
nav {
    position: fixed;
    top: 64px;
    height: 24px;
    width: 100%;

    background: #ccc;
    text-align: center;
}
  
/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}
  
article {
    position: relative;
    top: 88px;
    right: 124px;
    width: 864px;
    /* height: 82%; */

    background-color: #f1f1f1;
    list-style-type: none;
}

aside {
    position: sticky;
    top: 88px;
    left: 124px;
    width: 248px;
    /* height: 82%; */
    list-style-type: none;
}

section {
    
}
  
/* Style the footer */
footer {
    background-color:#B7D3E9;
    height: 32px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
  
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

/* Other Styles*/

.Content {
    width: 864px;
    border-style: hidden;
    background-color: white;
}