/*#region Global*/

    * {
        box-sizing: border-box;
    }

    #Global_Background {
        background-image: url('SportsBG.jpg');
        background-size: 1920px 1080px;
        background-repeat: no-repeat;
        position:fixed;
        width: 1920px;
        height: 1080px;
        display:inline;
        background-position: 50% 50%;
    }

    .overflow {
        height: 200px;
        display: flex;
    }

    body {
        min-height:900px;
    }

/*#endregion*/

/*#region Main*/

    #Main_Layout {
        position:fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;

        display:contents;
    }

    #Main_Header {
        position:fixed;
        width:100%;
        height:128px;
        top:0;
        left:0;

        background-color:#792845;
        color:white;
        font-size:35px;
    }

    #Main_LogoButton {
        visibility: hidden;
    }

    #Main_Logo {
        position: fixed;
        top: -16px;
        left: -16px;
        width:128px;
        height:128px;

        visibility: visible;

        margin:16px;
    }

    #Main_TopRight {
        display: grid;
        grid-template-columns: 304px 128px 128px;

        position:fixed;
        top:0;
        right:0;

        width:560px;
        height:128px;
    }

    #Main_TopRightD1 {
        display: inline;
        align-content: center;
    }

    #Main_HGreetings {
        
        margin:0;

        width:304px;

        color:white;
        font-size:20px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        padding:24px;
    }

    #Main_TopRightD2 {
        display: inline;
        align-content: center;
        text-align: center;
    }

    #Main_LogButton {
        margin:2px;
        font-size:24px;
        width:102px;
    }

    #Main_RegButton {
        margin:2px;
        font-size:24px;
        width:102px;
    }

    #Main_CategoryButton {
        position: static;
        border: none;
        visibility:hidden;
    }

    #Main_CategoryButtonIcon {
        width:64px;
        height:64px;
        transform:translate(-3px,-3px);
        visibility: visible;
    }

    #Main_CategoryButtonBackground {
        position:absolute;
        height:57px;
        width:57px;
        margin:36px;
        background-color:rgb(69, 111, 188);

        visibility: visible;
    }

    #Main_AsideCategory {
        position:fixed;
        width:256px;
        height:100%;
        right:0;

        background-color:#d883a1;
        color:white;

        display:none;
    }

    .Main_CategoryListButton {
        width:256px;
        height:64px;
        background-color:#c34773;
    }

    #Main_Footer {
        position:fixed;
        width:100%;
        height:64px;
        bottom:0;
        left:0;

        background-color:#e5b5c6;
        color:white;

        display: flex;
    }

    #Main_Footer div {
        margin:8px;
    }

    #Main_Footer a {
        margin:8px;
        font-size:24px;
    }

/*#endregion*/

/*#region Content*/

    .Form_C_Accounts button {
        background-color: rgb(114, 255, 250);
        padding:4px 16px 4px 16px;
        font-size: 20px;
    } 

    /*#region Register*/

        #Form_Register {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            margin:auto;
            vertical-align:middle;

            border-style:solid;
            border-color:blue;
            border-radius: 20px;

            background-color: rgb(213, 244, 255);
            display:none;
            grid-template-columns:auto auto;
            padding:96px;
        }

        #Form_Register label {
            font-size:24px;
            margin:4px;
        }
        #Form_Register input {
            margin:4px;
            margin-left:24px;
            padding-left: 1px;
        }
        #Form_Register a {
            margin:4px;
        }
        #Form_Register button {
            margin:0;
            margin-top:auto;
            margin-bottom:auto;
        }

    /*#endregion*/

    /*#region Login*/

        #Form_Login {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            margin:auto;
            vertical-align:middle;

            border-style:solid;
            border-color:blue;
            border-radius: 20px;

            background-color: rgb(213, 244, 255);
            display:none;
            grid-template-columns:auto auto;
            padding:96px;
        }

        #Form_Login label {
            margin:4px;
            font-size:24px;
        }
        #Form_Login input {
            margin:4px;
            margin-left:24px;
            padding-left: 1px;
        }
        #Form_Login a {
            margin:4px;
        }
        #Form_Login button {
            margin:0;
            margin-top:auto;
            margin-bottom:auto;
        }
        
/*#endregion*/

    /*#region Forgot*/

        #Form_Forgot {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            margin:auto;
            vertical-align:middle;

            border-style:solid;
            border-color:blue;
            border-radius: 20px;

            background-color: rgb(213, 244, 255);
            display:none;
            grid-template-columns:auto auto;
            padding:64px;
        }

        #Form_Forgot label {
            margin:4px;
            font-size:24px;
        }
        #Form_Forgot input {
            margin:4px;
            margin-left:8px;
        }
        #Form_Forgot button {
            margin:0;
            margin-top:auto;
            margin-bottom:auto;
        }

    /*#endregion*/

    /*#region Home*/

    #Form_Home {

        position:absolute;
        top:128px;
        left:50%;
        transform:translate(-50%,0);

        background-color:rgb(213, 244, 255);
        width:100%;
        height:calc(100% - 192px);

        display: none;
        grid-template-columns: calc(100% - 256px) 256px;
        
        overflow:hidden;
        border-color:blue;
        border-style:hidden;

        margin-bottom:36px;

        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }

    #Form_Home p {

        margin:8px;

    }

    #Form_Home h1 {

        font-size: 50px;
        margin:8px;

    }

    #Form_Home h2 {

        margin:8px;

    }

    #Home_4C {

        width: calc(100% - 256px);
        height: 550px;
        display: grid;
        grid-template-columns:25% 25% 25% 25%;
        position: absolute;
        bottom: 0;
        font-size: auto;

    }
    
    .Home_Column {
        height:550px;
        background-color: purple;
        background-image: url("mainRes/Website/hsportbg.jpg");
        background-size: cover;
        overflow: hidden;
        font-size: 50px;
    }

    .Home_ColumnI {
        position: absolute;
        height: 100%;
        width:25%;
        overflow: hidden;

        background-image: linear-gradient(rgb(104, 18, 68) 0%,rgba(104, 18, 68, 0.123) 80%);
        color: white;

        text-align: center;

    }

    #Home_Column1 {

        font-size: 50px;
        background-color: purple;
        background-image: url("mainRes/Website/hsportbg.jpg");
        background-size: cover;
        overflow: hidden;

    }

    #Home_Column1 button {
        background-color: purple;
        color: white;
    }

    #Home_Column1I {

        background-image: linear-gradient(rgba(104, 18, 68, 0.9) 0%,rgba(104, 18, 68, 0.6) 100%)

    }

    #Home_Column2 {

        font-size: 50px;
        background-color: greenyellow;
        background-image: url("mainRes/Website/hfoodbg.jpg");
        left:33%;

    }

    #Home_Column2 button {
        background-color: green;
        color: white;
    }

    #Home_Column2I {

        background-image: linear-gradient(rgba(3, 82, 20, 0.9) 0%,rgba(3, 82, 20, 0.6) 100%)

    }

    #Home_Column3 {

        font-size: 50px;
        background-color: red;
        background-image: url("mainRes/Website/hpoliticbg.jpg");

    }

    #Home_Column3 button {
        background-color: darkred;
        color: white;
    }

    #Home_Column3I {

        background-image: linear-gradient(rgba(109, 8, 8, 0.9) 0%,rgba(109, 8, 8, 0.6) 100%)

    }

    #Home_Column4 {

        font-size: 50px;
        background-color: greenyellow;
        background-image: url("mainRes/Website/hdefaultbg.jpg");
        left:33%;

    }

    #Home_Column4 button {
        background-color: rgb(11, 0, 159);
        color: white;
    }

    #Home_Column4I {

        background-image: linear-gradient(rgba(0, 2, 94, 0.9) 0%,rgba(0, 2, 94, 0.6) 100%)

    }

    .Home_Suggestions {
        position:relative;
        width:calc(100%-16px);
        height:350px;
        left:0;
        top:60px;

        /*border-color:blue;
        border-style:solid;*/
        padding:8px;
        margin: 8px;

        font-size:16px;
        font-family:'Times New Roman', Times, serif;

        /*background-color: rgb(213, 244, 255);*/
    }

    .Home_Suggestions_Item {

    }

    .Home_Suggestions_Title {
        width:100%; 
        line-height: 16px;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        overflow:hidden;
        text-overflow:ellipsis;
    }

    .Home_Suggestions_Info {
        display:flex;
        color:white;
    }

    .Home_Suggestions_Image {
        width:96px; 
        height:64px;
        margin-right: 4px;
        margin-bottom: 12px;
    }

    .Home_Suggestions_Description {
        width:290px; 
        height:78px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        overflow:hidden;
        text-overflow:ellipsis;
    }

    .Home_SeeMore {
        position: relative;
        top: 66px;
        left: 50%;
        transform: translate(-50%,0);
        font-size: 32px;
        padding: 8px;    
    }

    /*#endregion*/

    /*#region Privacy*/
        
        #Form_Privacy {

            position:absolute;
            top:132px;
            left:50%;
            transform:translate(-50%,0);

            background-color:white;
            width:1120px;
            min-height:calc(100% - 168px);

            display: none;
        
            border-color:blue;
            border-style:solid;

            margin-bottom:36px;

            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }

        #Form_Privacy h1 {
            color: black;
            text-shadow: 2px 2px 4px #000000;
        }

        #Form_Privacy p {
            font-family: 'Lucida Console', sans-serif;
        }

        #Form_Privacy h2 {
            text-shadow: 2px 2px 4px #000000;
            font-size: large;
        }

        #Form_Privacy h3 {
            text-shadow: 2px 2px 4px #000000;
            font-size: large;
        }
        
        #Form_Privacy h4 {
            text-shadow: 2px 2px 4px #000000;
            font-size: large;
        }

    /*#endregion*/

    /*#region Terms*/
        
        #Form_Terms  {
            position:absolute;
            top:132px;
            left:50%;
            transform:translate(-50%,0);

            background-color:white;
            width:1120px;
            min-height:calc(100% - 168px);

            display: none;
        
            border-color:blue;
            border-style:solid;

            margin-bottom:36px;

            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }

        #Form_Terms h1{
            
        }
    /*#endregion*/

    /*#region Article Page*/

    #Content_Layout {
        position:absolute;
        top:132px;
        left:50%;
        transform:translate(-50%,0);
        width:1120px;
        display:inline;
    }

    #Content_Layout_Border {
        background-color:white;

        display: none;
        grid-template-columns:auto 1fr;
        
        border-color:#792845;
        border-style:solid;

        margin-bottom:68px;
    }

        #Content_Article {
            position:relative;
            width:832px;
            right:0;

            padding:4px;
        }

        #Content_Article_Content {
            border-color:#792845;
            border-style:solid;
            padding:16px;
        }

        #Content_Aside {
            position:relative;
            width:280px;
            height:100%;
            left:0;

            padding:4px;
        }

        #Content_Suggestions {
            height: 410px;

            border-color:#792845;
            border-style:solid;
            padding:8px;
        }

        .Content_Suggestions_Item {

        }

        .Content_Suggestions_Title {
            width:100%; 
            line-height: 16px;

            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;

            overflow:hidden;
            text-overflow:ellipsis;
        }

        .Content_Suggestions_Info {
            display:flex
        }

        .Content_Suggestions_Image {
            width:96px; 
            height:64px;
            margin-right: 4px;
            margin-bottom: 12px;
        }

        .Content_Suggestions_Description {
            width:156px; 
            height:72px;

            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            overflow:hidden;
            text-overflow:ellipsis;
        }

        #Content_Ads {
            position: -webkit-sticky;
            position:sticky;

            width:280px;
            float:right;
            top:128px;
        }

        .Content_Ads_Ad {
            width:248px;
            margin:16px;
        }

/*#endregion*/

/*#endregion*/